@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap");
body {
  font-family: "Lato";
  background: #FAFAFA;
}

.contain {
  margin: 0 auto;
  width: 200px;
  background: #fff;
  padding: 20px;
  border: 1px #efefef solid;
  margin: 20px;

a {
  color: #DF0074;
  font-weight: 400;
}

#flash_message,
#notification_message,
#error_message {
  position: absolute;
  top: -100px;
  right: 30px;
  display: flex;
  background: #fff;
  color: #fff;
  padding: 1rem 1.5rem 1rem 1rem;
  font-size: 14px;
  line-height: 1.4rem;
  background: #11B44E;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}
#flash_message.success,
#notification_message.success,
#error_message.success {
  animation: flash-message 5s ease-in-out 1;
}
#flash_message .las,
#notification_message .las,
#error_message .las {
  color: #fff;
  font-size: 1.5rem;
}
#flash_message .message,
#notification_message .message,
#error_message .message {
  padding-left: 0.6rem;
  font-weight: 600;
}
#flash_message a,
#notification_message a,
#error_message a {
  color: #fff;
}

#error_message {
  background-color: #DF1E0E;
}

#notification_message {
  background-color: #004B78;
}

.alert-sound,
.notification-sound,
.error-sound {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.alert-sound.active,
.notification-sound.active,
.error-sound.active {
  display: block;
}

h3 {
  padding: 50px 0 20px;
}

.notification-bell {
  position: relative;
}
.notification-bell.animated i {
  animation: ring-bell 1s ease-in-out 1;
}
.notification-bell.animated .count {
  animation: pulse 2s ease-in-out infinite, counter-pop 1.3s ease-in-out 1;
}
.notification-bell i {
  font-size: 2em;
  color: #6B7683;
}
.notification-bell .count {
  position: absolute;
  top: 2px;
  left: 18px;
  font-size: 0.65em;
  background: #007FB0;
  border: 2px #007FB0 solid;
  border-radius: 20px;
  min-width: 14px;
  min-height: 14px;
  text-align: center;
  color: #fff;
}
.notification-bell .count {
  animation: pulse 2s ease-in-out infinite;
}

.notification-sound {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.notification-sound.active {
  display: inline;
}

@keyframes ring-bell {
  0%, 20%, 80%, 100% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(30deg);
  }
}
@keyframes counter-pop {
  0%, 90% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(0, 127, 176, 0.7);
  }
  100% {
    box-shadow: 0px 0px 0px 8px rgba(0, 127, 176, 0.05);
  }
}

@keyframes flash-message {
  0%, 100% {
    transform: translateY(-100px);
  }
  7%, 93% {
    transform: translateY(130px);
  }
}
