body {
  background: #fff;
}
body h1 {
  text-align: center;
  margin: 2em 0 0 0;
  font-size: 18pt;
  font-family: arial;
  font-weight: 600;
}

.container {
  width: 230px;
  text-align: center;
  margin: 2em auto;
  padding: 20px;
}
.container button {
  margin: 1em 0.8em;
  border-radius: 4px;
}
.container button a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 13pt;
}